.support {border:3px solid #e6be00; font-size:20px; padding:20px; width:90%; margin:100px auto; text-align:center; background:#fff;}
    .support a {color:#e6be00;}
.fake-table, .container, .footer {display:none;}